.team{
    background-color: var(--second-background-color);
    padding-top: 94px;
    padding-bottom: 94px; 
}

.team__list-cards{
    display: flex;
    gap: 30px;
}

.team__card{
    background-color: var(--second-text-color);
    width: 270px;
    height: 428px;
}

.team__card {
    padding-top: 0px;
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.team__images {
    margin-top: 0px;
    margin-bottom: 0px;
}

.team__card-member{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.team__card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    margin-top: 0px;
    margin-bottom: 10px;
}

.team__card-text {
    font-size: 16px;
    line-height: 1.18;
    color: var(--primary-text-color);
    margin-top: 0px;
    margin-bottom: 10px;
}